<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuya.smart.bizubundle.panel.demo">

    <application tools:remove="android:preserveLegacyExternalStorage">
        <activity
            android:name=".videolock.TempPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".videolock.MemberManagementActivity"
            android:exported="false" />
        <activity
            android:name=".videolock.BLELockActivity"
            android:exported="false" />
        <activity
            android:name=".videolock.LogsActivity"
            android:exported="false" />
        <activity
            android:name=".videolock.LockFunctionActivity"
            android:exported="false" />
        <activity android:name=".PanelActivity" />
        <activity
            android:name=".videolock.LockActivity"
            android:exported="false" />
    </application>

</manifest>